<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.0.2" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="5.0.0" targetFramework="monoandroid60" />
  <package id="Acr.XamForms.UserDialogs" version="5.0.0" targetFramework="monoandroid60" />
  <package id="CarouselView.FormsPlugin" version="4.3.0" targetFramework="monoandroid60" />
  <package id="EngineIoClientDotNet" version="1.0.3" targetFramework="monoandroid70" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Glide.Xamarin" version="3.8.0" targetFramework="monoandroid70" />
  <package id="HockeySDK.Xamarin" version="4.1.5" targetFramework="monoandroid60" />
  <package id="Microsoft.AppCenter" version="1.1.0" targetFramework="monoandroid70" />
  <package id="Microsoft.AppCenter.Analytics" version="1.1.0" targetFramework="monoandroid70" />
  <package id="Microsoft.AppCenter.Crashes" version="1.1.0" targetFramework="monoandroid70" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid70" />
  <package id="PhoneCall.Forms.Plugin" version="1.0.0.0" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.DeviceOrientation" version="1.0.7" targetFramework="monoandroid70" />
  <package id="Plugin.ImageResizer" version="1.0.1-alpha" targetFramework="monoandroid60" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="monoandroid60" />
  <package id="SocketIoClientDotNet" version="1.0.3" targetFramework="monoandroid70" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid60" />
  <package id="SuperSocket.ClientEngine.Core" version="0.9.0" targetFramework="monoandroid70" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="monoandroid70" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid70" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid70" />
  <package id="UXDivers.Artina.Shared" version="2.0.52" targetFramework="monoandroid71" />
  <package id="UXDivers.Artina.Shared.Base" version="2.0.52" targetFramework="monoandroid71" />
  <package id="UXDivers.Effects" version="0.6.0" targetFramework="MonoAndroid60" />
  <package id="UXDivers.GorillaPlayer.SDK" version="1.2.0" targetFramework="monoandroid70" />
  <package id="WebSocket4Net" version="0.15.1" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Settings" version="2.5.8" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="monoandroid60" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="monoandroid60" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="monoandroid60" />
</packages>